<p id="notice"><%= notice %></p>
<div class="row">
	<div class="span4">
		<h2>About <%= @contest.name %></h2>
		<p>
		  <b>Name:</b>
		  <%= @contest.name %>
		</p>

		<p>
		  <b>Description:</b>
		  <%= @contest.description %>
		</p>

		<p>
		  <b>Created By:</b>
		  <%= @contest.user.name %>
		</p>
		<% unless @leader.nil? %>
		<p>
			<b>Current Leader</b>
				<%= link_to @leader.name, competitor_path(@leader.id) %>
		</p>
		<% end %>
		
		<p>
			<b>Number of Competitors:</b>
			<%= @competitors.count %>
		</p>
	</div>
	<div class="span8">

	</div>
</div>


<% if can? :edit, @contest %>
	<%= link_to raw("<i class='icon-edit'></i> Edit"), edit_contest_path(@contest), :class => 'btn'%>
<% end %>
<%= link_to raw("<i class='icon-th-list icon-white'></i> Back"), contests_path, :class => 'btn btn-primary' %>
