<div class="nav-collapse">
	<ul class='nav'>
		<li><%= link_to 'Vote', home_path %></li>
		<li><%= link_to 'Contests', contests_path %></li>
		<li><%= link_to 'Leaderboards', competitors_path %></li>
		<% if logged_in? %>
			<% if current_user.admin? %>
				<li><%= link_to "Users", users_path %></li>
			<% end %>
			<li><%= link_to "#{current_user.proper_name}", user_path(current_user) %></li>
			<li><%= link_to "Log Out", logout_path %></li>
		<% else %>
			<li><%= link_to "Log In", login_path %></li>
			<li><%= link_to "Sign Up", new_user_path %></li>
		<% end %>
	</ul>
</div>