<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <% if current_user && current_user.admin? %>
      <%= f.input :role, :collection => User::ROLES %>
      <%= f.input :active %>
    <% else %>
      <%= f.hidden_field :role, :value => "member" %>
      <%= f.hidden_field :active, :value => true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
