<h1>Listing users</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= link_to raw("<i class='icon-file icon-white'></i> Details"), user, :class => 'btn btn-info' %></td>
    <td><%= link_to raw("<i class='icon-edit'></i> Edit"), edit_user_path(user), :class => 'btn' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to raw("<i class='icon-plus icon-white'></i> New User"), new_user_path, :class => 'btn btn-primary' %>
