
<h1>Teacher Death Match</h1>
<div class="row">
	<div class="span6">
		<h4><%= @competitor1.name %></h4>
		<%= image_tag @competitor1.photo_url %>
		<br />
		<br />
		<p><%= @competitor1.description %></p>
	</div>
	<div class="span6">
		<h4><%= @competitor2.name %></h4>
		<%= image_tag @competitor2.photo_url %>
		<br />
		<br />
		<p><%= @competitor2.description %></p>
	</div>
</div>

<div class="row">
	<div class="span6">
			<%= link_to raw("<i class='icon-ok icon-white'></i> Vote #{@competitor1.name}"), vote_path(:winner_id => @competitor1.id, :loser_id => @competitor2.id), :class=>'btn btn-success' %>
		</div>
		<div class="span6">
			<%= link_to raw("<i class='icon-ok icon-white'></i> Vote #{@competitor2.name}"), vote_path(:winner_id => @competitor2.id, :loser_id => @competitor1.id), :class=>'btn btn-success' %>
		</div>
	</div>
