<h1>Vote here</h1>
<table>
	<tr>
		<td><%= @competitor1.name %></td>
		<td><%= @competitor2.name %></td>
	</tr>
	<tr>
		<td><%= @competitor1.description %></td>
		<td><%= @competitor2.description %></td>
	</tr>
	<tr>
		<td><%= link_to "Vote #{@competitor1.name}", vote_path(:winner_id => @competitor1.id, :loser_id => @competitor2.id) %></td>
		<td><%= link_to "Vote #{@competitor2.name}", vote_path(:winner_id => @competitor2.id, :loser_id => @competitor1.id) %></td>
	</tr>
</table>