<%= simple_form_for @competitor, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <legend><%= controller.action_name.capitalize %> Competitor </legend>
  <fieldset>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.hidden_field :wins, :value => 0 %>
    <%= f.hidden_field :times_played, :value => 0 %>
    <%= f.hidden_field :elo, :value => 1200 %>
    <%= f.input :photo %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary'%>
      <%= link_to 'Cancel', competitors_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>