<div class="row">
<div class="span12">
    <h1>Leaderboards</h1>
<table class='table table-striped table-bordered table-hover '>
  <thead>
    <th>Place</th>
    <th><%= link_to "Name", competitors_path(:sort => "name") %></th>
    <th><%= link_to "Elo", competitors_path %></th>
    <th><%= link_to "Wins", competitors_path(:sort => "wins") %></th>
    <th><%= link_to "Times Played", competitors_path(:sort => "times") %></th>
    <% if can? :edit, @competitors %>
      <th></th>
    <% end %>
  </thead>
<% i = 1 %>
<% @competitors.each do |competitor| %>
  <tr>
    <td><%= i %></td>
    <td><%= link_to competitor.name, competitor %></td>
    <td><%= competitor.elo.round(2) %></td>
    <td><%= competitor.wins %></td>
    <td><%= competitor.times_played %></td>
    <% if can? :edit, competitor %>
      <td><%= link_to raw("<i class='icon-edit'></i> Edit"), edit_competitor_path(competitor), :class => 'btn' %></td>
    <% end %>
  </tr>
  <% i = i + 1 %>
<% end %>
</table>

<br />
<% if can? :create, Competitor %>
  <%= link_to raw("<i class='icon-plus icon-white'></i> New Competitor"), new_competitor_path, :class => 'btn btn-primary'%>
<% end %>
</div>
</div>
