<h1>Listing competitors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Wins</th>
    <th>Times played</th>
    <th>Elo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competitors.each do |competitor| %>
  <tr>
    <td><%= competitor.name %></td>
    <td><%= competitor.description %></td>
    <td><%= competitor.wins %></td>
    <td><%= competitor.times_played %></td>
    <td><%= competitor.elo %></td>
    <td><%= link_to 'Show', competitor %></td>
    <td><%= link_to 'Edit', edit_competitor_path(competitor) %></td>
    <td><%= link_to 'Destroy', competitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competitor', new_competitor_path %>
