<p id="notice"><%= notice %></p>
<div class="row">
  <div class="span4">
    <% if !@competitor.photo_url.nil? %>
      <p><%= image_tag @competitor.photo_url %></p>
    <% else %>
      <p>Image unavailable</p>
    <% end %>
  </div>
  <div class="span8">
    <h2>About <%= @competitor.name %></h2>
    <p>
      <b>Name:</b>
      <%= @competitor.name %>
    </p>

    <p>
      <b>Wins:</b>
      <%= @competitor.wins %>
    </p>

    <p>
      <b>Times played:</b>
      <%= @competitor.times_played %>
    </p>

    <p>
      <b>Elo:</b>
      <%= @competitor.elo %>
    </p>
</div>
</div>

<div class="row">
  <div class="span4">
    <p>
      <b>Description:</b>
      <%= @competitor.description %>
    </p>
</div>
</div>

<%= link_to raw("<i class='icon-edit'></i> Edit"), edit_competitor_path(@competitor), :class => 'btn' %> 
<%= link_to raw("<i class='icon-th-list icon-white'></i> List all"), competitors_path, :class => 'btn btn-primary' %>
