<!DOCTYPE html>
<html>
<head>
  <title>Voter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <div class="container">
      <!-- Temporary until I want it to look nicer, just to verify that you are logged in -->
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path %>
        <br>[<%= current_user.last_name %>:<%= current_user.role %>]
      <% else %>
        <%= link_to 'Login', login_path %>
      <% end %>
            <!-- flash messages -->
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= msg %>
        </div>
      <% end %>

      <div class="navbar navbar-inverse">
        <div class="navbar-inner navbar-fixed-top ">
          <div class="container">
            <%= link_to 'Teacher Death Match', home_path, :class => 'brand' %>
            <%= render :partial => "partials/navigation" %>
          </div>
        </div>
      </div>
    	
      <div class="main content">

				<%= yield %>
			</div>
		</div>
	</div>
<footer>
    <div class="container">
      <%= render :partial => "partials/footer" %>
    </div>
  </footer>
</body>
</html>
